{{> head}}
    
{{> navbar}}


    <div class="row">

        <div class="col-8">
            <h1>The Seven Dealing sins</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus sit, amet, enim, natus atque explicabo temporibus fuga inventore quo rem quisquam deleniti nemo expedita. Amet repudiandae alias vero doloremque repellat.
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/theSeven.jpg"  class="img-thumbnail"/>
        </div>

    </div>


{{> footer}}